<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='/resources/css/lib/bootstrap.min.css' rel='stylesheet' />
    <script src='/resources/js/lib/popper.min.js'></script>
    <script src='/resources/js/lib/bootstrap.min.js'></script>
    <script src='/resources/js/lib/axios.min.js'></script>
    <title>{{title}}</title>
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-12 mt-5'>
          <form id='create-page' onsubmit='return validatForm(event)' novalidate>
            <div class='modal-header'>
              <h5 class='modal-title' id='addPageModalLabel'>Create Page</h5>
            </div>
            <div class='modal-body'>
              <div class='col-auto'>
                <label for='name' class='form-label'>Name</label>
                <input
                  type='text'
                  class='form-control form-control-sm'
                  id='name'
                  name='name'
                  placeholder='Name of Page'
                  required
                />
                <div class='invalid-feedback'>
                  Please provide a valid name.
                </div>
              </div>
            </div>
            <div class='modal-footer'>
              <button
                type='button'
                class='btn btn-secondary btn-sm'
                data-bs-dismiss='modal'
                onclick='clearForm()'
              >
                Clear
              </button>
              <button type='submit' class='btn btn-primary btn-sm'>
                Save
              </button>
                <button type="button" class="btn btn-success btn-sm download-btn" id="downloadBtn">
                            Download All Pages as ZIP
                        </button>
            </div>
          </form>
        </div>
        <div class='col-12 my-2'>
          <table class='table table-bordered table-hover'>
            <thead>

              <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Slug</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>

              {{#each pages}}
                <tr>
                  <td>{{this._id}}</td>
                  <td>{{this.name}}</td>
                  <td>{{this.slug}}</td>
                  <td>
                    <a href='editor/{{this._id}}' class="btn btn-warning btn-sm">Edit</a>
                    <button onclick="deletePage('{{this._id}}')" class="btn btn-danger btn-sm">Delete</button>

                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script type='text/javascript' src='/resources/js/custom.js'></script>
    <script>
       document.getElementById('downloadBtn').addEventListener('click', function() {
            window.location.href = '/pages/download/all'; // Redirect to the download route
        });
        
         function deletePage(pageId) {
            // Confirm deletion
            if (confirm('Are you sure you want to delete this page?')) {
                axios.delete(`/pages/${pageId}`)
                    .then(response => {
                        // Handle success response
                        alert(response.data.message); // Show success message
                        location.reload(); // Reload the page to reflect changes
                    })
                    .catch(error => {
                        // Handle error response
                        console.error('Error deleting page:', error);
                        alert('Failed to delete the page. Please try again.'); // Show error message
                    });
            }
        }
    </script>
  </body>
</html>